// Footer decoration
.footer-contact-text {
    color: $primary-text-color;
}
.footer-type {
    padding: 60px 0px;
    background-color: $accent-color;
}
.footer-text {
    color: $primary-color;
}
 .footer-adress {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
 }
address { font-style: normal; }

.footer-element {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0px;
    }

}
.mail-list {
    // display: flex;
    // align-items: center;

    @extend %flex;
    flex-direction: column;
}
.email {
    display: flex;
    width: 100%;
    height: 50px;
    width: 100%;
    // width: 360px;
    // margin-right: 12px;
    align-items: center;
    margin-bottom: 20px;
}
.mail-imput {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left: 15px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: $accent-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: rgba(255, 255, 255, 0.6);
}

.adress-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
    // margin-right: 70px;
}
.mail-container {
    // margin: auto;
    width: 100%;
    margin-top: 60px;
}
.footer-contact {
   
    display: flex;
    // align-items: baseline;
    flex-direction: column;
    align-items: center;
}
.footer-social-title,
.footer-mail-title    {
    text-align: center;
    margin: 0 0 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   color:$primary-color;
    
}
// .social-list  {
//     display: flex;
// }
.buton-footer {  
    background-color: rgba(255, 255,255, .1);
    color: $primary-color;
}

// .social-contact {
//     margin-left: 100px;
// }

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }

}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .footer-adress {
        margin-top: 0;
    }
    .footer-contact {
   
        // display: flex;
        align-items: baseline;
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        // align-items: center;
    }
    .adress-container {
        // display: block;
        // flex-direction: row;
        align-items: center;
        margin-bottom: 0px;
        margin-right: 70px;
        // margin-bottom: 0px;
        // margin-right: 70px;
    }


    .email {
        width: 450px;
        margin-right: 12px;
        align-items:center;
        // margin-bottom: 0px;
    }
    .social-contact {
        margin-left: 100px;
    }


}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .adress-container {
        align-items: flex-start;
    }
     .footer-adress {
        //  flex-direction: row;
         align-items: flex-start;
     }
    .footer-contact {
   
        flex-wrap: nowrap;
    }
    .mail-list {
    flex-direction: row;
    align-items: center;
     }
    //  .adress-container {
    //      display: block;
    //     //  flex-direction: row;
    //      margin-bottom: 0px;
    //      margin-right: 70px;
    //      margin-bottom: 0px;
    //      margin-right: 70px;
    //  }

     .mail-container {
        // margin: auto;
      margin-left: 80px;
        margin-top: 0px;
    }
    
    .email {
        width: 360px;
        margin-right: 12px;
        align-items:center;
        margin-bottom: 0px;
    }

    .social-list  {
    display: flex;
    }

     .footer-social-title,
     .footer-mail-title    {
      text-align: left;

      }

      .social-contact {
        margin-left: 0px;
    }
}