// form aplication

.apply-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.modal-title {
    margin: 0 0 12px ;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;

}

.label-text {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
}


.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;

    & input {
        width: 100%;
        margin: 0;
        padding: 12px 16px 12px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition:  border 250ms $cubic;

          &:hover+.field-icon,
          &:focus+.field-icon {
            fill: $accent-text-color;
           }

           &:hover,
           &:focus {
               cursor: pointer;
               outline: none;
               border: 1px solid $accent-text-color;
           }


    }

    textarea {
        resize: none;
    }
  
    & textarea {
        width: 100%;
        margin: 0;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

            &::placeholder {
                 color: rgba(117, 117, 117, 0.5);
                          }
       
                 &:hover,
                 &:focus {
                  cursor: pointer;
                  outline: none;
                     border: 1px solid $accent-text-color;
                
                 }


        }
}



.entry-field {
    position: relative;
}
.field-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: currentColor;
    transition:  fill 250ms $cubic;
}


// .form-field textarea:hover,
// .form-field textarea:focus {
//     cursor: pointer;
//     outline: none;
//     border: 1px solid $accent-text-color;

// }
// .form-field input:hover+.field-icon,
// .form-field input:focus+.field-icon {
//     fill: $accent-text-color;
// }
