// navigation
.nav {
    // display: flex;
    // align-items: center;
    @extend %flex;
    }

    .header-nav {
        // display: flex;
        // align-items: center;
        @extend %flex;
        justify-content: space-between;
    }
    .site-nav .item {
        display: inline-block;
        margin-right: 50px;
    }
    
    .site-nav .item:last-child {
        margin-right: 0px;
    }

    .contact-nav {
        // display: flex;    
        @extend %flex;

    }

    .contact-nav .item {
        margin-right: 50px;
    }
    .contact-nav .item:last-child {
        margin-right: 0px;
    }        
   
   
