// Logo decoration
.logo {
    // margin-right: 93px;
    // padding-top: 25px;
    // padding-bottom: 25px; 

    @include font(24px, 700, 28px);
    
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.2;
    font-family: $logo-font, $reserve-font;
    color: $accent-text-color;

    
    &-footer {
        padding-top: 0px;
        padding-bottom: 0px; 
        // margin-bottom: 20px;
    }

}
  

.header-color {
    color: $title-text-color;
}
.footer-color {
    color: $primary-color;
}

@media screen and (max-width: 767px) {
.logo {
    padding-top: 16px;
    padding-bottom: 16px;
}
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
.logo {
    // margin-right: 88px;
    padding-top: 25px;
    padding-bottom: 25px; 
   }

}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
.logo {
    @include font(26px, 700, 32px);
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px; 

    &-footer {
       
        margin-bottom: 0px;
    }
   }

}

