// modal window

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms $cubic;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 528px;
    height: 581px;
    padding: 40px;

    border-radius: 4px;
    box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12),
                 0px 1px 1px rgba(0, 0, 0, 0.14), 
                 0px 2px 1px rgba(0, 0, 0, 0.2);;
    background-color: $primary-color;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubic;
    
}

