// task section------
.task {
    padding-bottom: 94px;
    background-color: $primary-color;

    &__title {
        margin-bottom: 50px;
        text-align: center;

        @include font (36px, 700, 42px)
    
        // font-weight: 700;
        // font-size: 36px;
        // line-height: 1.17;
   
       }

    &__list {
        // display: flex;
        @extend %flex ;
        justify-content: center;
    }
    
    &__img {
        position: relative;
       
    }

    &__name {
        position: absolute;
        bottom: 0;
        left: 0;
    
        // display: flex;
        // align-items: center;
        @extend %flex ;
    
        justify-content: center;
        height: 70px;
        width: 100%;
        margin: 0;
        padding: 0;
        
       
        @include font(14px, 700, 16px);
    
        // font-weight: 700;
        // font-size: 14px;
        // line-height: 1.143;
    
        letter-spacing: 0.03em;
        text-transform: uppercase;
        background-color: rgba(47, 48, 58, 0.8);
        color: $primary-color;
    }

    &__element {
        width: 370;
        margin-right: 30px;
    
        &:last-child {
            margin-right: 0px;
        }
    
    }
    

}




