// CSS переменніе к тексту
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196F3;
// CSS переменніе к фону
$primary-color: #ffffff;
$secondary-color: #F5F4FA;
$accent-color: #2f303a;
// переменніе к шрифту
$primary-font: Roboto;
$reserve-font: sans-serif;
$logo-font: Raleway;
// переменная функции распределения времени
$cubic: cubic-bezier(0.4, 0, 0.2, 1);